<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>结果列表</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="/assets/front_page/mui.css" rel="stylesheet" />
		<link href="/assets/front_page/Edit.css" rel="stylesheet" />
	</head>

	<body>
		<script src="/assets/front_page/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
		<!--导航-->
		<header class="mui-bar mui-bar-nav">
		    <a  class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">邮币目录大全</h1>
		</header>
		<!--身体-->
		<div class="mui-content mui-fullscreen">
			<!--搜索-->
			<!--<div class="mui-bar" style="background-color: #FFFFFF;">
				<div class="mui-input-row mui-search">
	    			<input type="search" class="mui-input-clear" placeholder="输入志号、名称、俗称等信息进行搜索">
				</div>
			</div>
			<!--搜索+筛选-->
			<div class="mui-bar mui-row " style="background-color: #FFFFFF;">
				<div class="mui-input-row mui-search mui-col-xs-9">
	    			<input type="search" class="mui-input-clear" placeholder="搜索志号、名称、俗称等信息">
				</div>
				<div class="mui-col-xs-3">
					<button type="button" class="mui-btn mui-btn-danger mui-btn-outlined" style="float: right; line-height: 1;">筛选</button> 	
				</div>
			</div>
			<!--结果列表-->
			<div class="mui-row mui-fullscreen">
				<h5>纪字邮票</h5>
				<ul class="mui-table-view">
				    <li class="mui-table-view-cell" >
				        <a id="intro" class="mui-navigate-right" href="/list_tabs/product"><span class="redMark" >纪1</span>庆祝中国人民政治协商会议第一届全体会议</a>
				    </li>
				    <li class="mui-table-view-cell">
				        <a id="intro" class="mui-navigate-right"><span>纪2</span>中国人民政治协商会议纪念</a>
				    </li>
				    <li class="mui-table-view-cell">
				        <a id="intro" class="mui-navigate-right"><span>纪3</span>世界工联亚洲澳洲工会会议纪念</a>
				    </li>
				    <li class="mui-table-view-cell">
				        <a id="intro" class="mui-navigate-right"><span>纪4</span>中华人民共和国开国纪念</a>
				    </li>
				    <li class="mui-table-view-cell">
				        <a id="intro" class="mui-navigate-right"><span>纪5</span>保卫世界和平（第一组）</a>
				    </li>
				    <li class="mui-table-view-cell">
				        <a id="intro" class="mui-navigate-right"><span>纪6</span>中华人民共和国开国一周年纪念</a>
				    </li>
				    <li class="mui-table-view-cell">
				        <a id="intro" class="mui-navigate-right"><span>纪7</span>第一届全国邮政会议纪念</a>
				    </li>
				    <li class="mui-table-view-cell">
				        <a id="intro" class="mui-navigate-right"><span>纪8</span>中苏友好同盟互助条约签订纪念</a>
				    </li>
				    <li class="mui-table-view-cell">
				        <a id="intro" class="mui-navigate-right"><span>纪9</span>中国共产党三十周年纪念</a>
				    </li>
				    <li class="mui-table-view-cell">
				        <a id="intro" class="mui-navigate-right"><span>纪10</span>保卫世界和平（第二组）</a>
				    </li>
				    <li class="mui-table-view-cell">
				        <a id="intro" class="mui-navigate-right"><span>纪11</span>鲁迅逝世十五周年</a>
				    </li>
				    <li class="mui-table-view-cell">
				        <a id="intro" class="mui-navigate-right"><span>纪12</span>太平天国金田起义百年纪念</a>
				    </li>
				</ul>
			</div>
		</div>
		
		<!--底部导航-->
		<nav class="mui-bar mui-bar-tab">
		    <a id="intro" class="mui-tab-item" href="index.html" target="_blank">
		        <span class="mui-icon mui-icon-home"></span>
		        <span class="mui-tab-label">首页</span>
		    </a>
		    <a id="intro"  class="mui-tab-item">
		        <span class="mui-icon mui-icon-weixin"></span>
		        <span class="mui-tab-label">公众号</span>
		    </a>
		    <a id="intro" class="mui-tab-item">
		        <span class="mui-icon mui-icon-star"></span>
		        <span class="mui-tab-label">上邮汇</span>
		    </a>
		    <a id="intro" class="mui-tab-item">
		        <span class="mui-icon mui-icon-contact"></span>
		        <span class="mui-tab-label">我的</span>
		    </a>
		</nav>
	</body>

</html>