<center>
<br><br>
<font face="微软雅黑" color='#006030' size=6>图片上传</font>   

<br><br><br>
  
 	
<%= form_tag({:action => 'import'}, :multipart => true, name: 'form1') %>
<font face="微软雅黑" color='#D9B300' size=3>上传图片(图片格式["jpg","jpeg","png","bmp"];小于5M;宽640px,高410px): 
<%= file_field("file", "file",onclick: "$('#submit_button').removeAttr('disabled');") %></font>  
<br><br><br>
<%= hidden_field_tag('symbol_id',@symbol_id) %>
<%= submit_tag "确认导入",:id=>'submit_button',onclick: "form1.submit();this.disabled='disabled';" %>
</form>

</center>