<%- model_class = FrontUser -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human%></h1>
  <%= form_tag('', :method => "get", name: 'form1') do %>
  <div style="float:right">
    <button class="wg-external-csv-export-button" data-grid-name="front_users">导出</button>    
  </div>

<%= render partial: 'front_users_grid' %>

<%end %>
</div>