<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>编辑藏品</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="/assets/front_page/mui.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/assets/front_page/editApp.css" />
		<script src="/assets/front_page/mui.min.js"></script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">编辑藏品</h1>
		</header>
		
		<div class="mui-content">
			<div class="mui-input-group" style="margin-top: 15px;" enctype="multipart/form-data">
				<%= form_tag("/collections/#{@collection.id}", method: "post")%>
					<input name="_method" type="hidden" value="patch" />
					<div class="mui-input-row">
						<label>数量</label>
						<input id="amount" name="amount" type="text" class="mui-input-clear" placeholder="输入藏品数量" value = <%=@collection.amount %>  style="height:40px;line-height:40px">
					</div>
					<div class="mui-input-row">
						<label>成本</label>
						<input id="cost" name="cost" type="text" class="mui-input-clear" placeholder="输入藏品成本" value = <%=@collection.cost %> style="height:40px;line-height:40px">
					</div>
					<div class="mui-input-row">
						<label>备注</label>
					</div>
					<div class="mui-input-row" style="height: 150px;">
						<textarea name="desc" rows="5" placeholder="请输入备注内容"><%=@collection.desc %></textarea>
					</div>
			</div>
					<div class="mui-button-row editBtn">
						<button type="submit" class="mui-btn mui-btn-danger" >确定</button>
						<button type="button" class="mui-btn mui-btn-danger mui-btn-outlined" onclick="window.open('/postcard_views/sorting')">取消</button>
					</div>
				</form>		
		</div>
	</body>

</html>