<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>藏品分析</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="/assets/front_page/mui.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/assets/front_page/editApp.css" />
		<script src="/assets/front_page/mui.min.js"></script>
		<script src="/assets/front_page/jquery-3.3.1.min.js"></script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">藏品分析</h1>
		</header>
		
		<div class="mui-content">
				
			<div class="mui-row mui-fullscreen" style="padding-top: 44px;">
				<div class="mui-card">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">
							<label class="rowTitle">邮票</label><p class="rowContent">纪字邮票、特字邮票、编年邮票</p>
						</li>
						<li class="mui-table-view-cell">
							<label class="rowTitle">硬币</label><p class="rowContent">贵金属纪念币、流通纪念币</p>
						</li>
						<li class="mui-table-view-cell">
							<label class="rowTitle">纸钞</label><p class="rowContent">暂无</p>
						</li>
					</ul>
				</div>
				
				<div class="mui-card">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-collapse">
							<a class="mui-navigate-right" href="#">邮票</a>
							<div class="mui-collapse-content" style="padding: 0;">
								<ul class="mui-table-view" style="margin-top: 0; margin-bottom: 0;">
									<a href="/sortings/list_normal_collection">
										<li class="mui-table-view-cell collectionItem">
											<div class="mui-card-content">
												<div class="mui-card-content-inner">
													<p style="color: #333;">纪字邮票</p>
												</div>
											</div>
											<div class="mui-card-footer">
												<p class="mui-card-link">我的藏品数量 788</p>
												<p class="mui-card-link">藏品总数 1802</p>
											</div>
											<div class="percentWrap">
												<div class="parcntDisplay" style="width: 43%;"></div>
												<span class="percentText">完整度 43%</span>
											</div>
										</li>
									</a>
									<li class="mui-table-view-cell collectionItem">
										<div class="mui-card-content">
											<div class="mui-card-content-inner">
												<p style="color: #333;">特字邮票</p>
											</div>
										</div>
										<div class="mui-card-footer">
											<p class="mui-card-link">我的藏品数量 48</p>
											<p class="mui-card-link">藏品总数 520</p>
										</div>
										<div class="percentWrap">
											<div class="parcntDisplay" style="width: 9%;"></div>
											<span class="percentText">完整度 9%</span>
										</div>
									</li>
									<li class="mui-table-view-cell collectionItem">
										<div class="mui-card-content">
											<div class="mui-card-content-inner">
												<p style="color: #333;">编年邮票</p>
											</div>
										</div>
										<div class="mui-card-footer">
											<p class="mui-card-link">我的藏品数量 5048</p>
											<p class="mui-card-link">藏品总数 5972</p>
										</div>
										<div class="percentWrap">
											<div class="parcntDisplay" style="width: 84%;"></div>
											<span class="percentText">完整度 84%</span>
										</div>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
				
				<div class="mui-card">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-collapse">
							<a class="mui-navigate-right" href="#">硬币</a>
							<div class="mui-collapse-content" style="padding: 0;">
								<ul class="mui-table-view" style="margin-top: 0; margin-bottom: 0;">
									<li class="mui-table-view-cell collectionItem">
										<div class="mui-card-content">
											<div class="mui-card-content-inner">
												<p style="color: #333;">贵金属纪念币</p>
											</div>
										</div>
										<div class="mui-card-footer">
											<p class="mui-card-link">我的藏品数量 788</p>
											<p class="mui-card-link">藏品总数 1802</p>
										</div>
										<div class="percentWrap">
											<div class="parcntDisplay" style="width: 43%;"></div>
											<span class="percentText">完整度 43%</span>
										</div>
									</li>
									<li class="mui-table-view-cell collectionItem">
										<div class="mui-card-content">
											<div class="mui-card-content-inner">
												<p style="color: #333;">流通纪念币</p>
											</div>
										</div>
										<div class="mui-card-footer">
											<p class="mui-card-link">我的藏品数量 48</p>
											<p class="mui-card-link">藏品总数 520</p>
										</div>
										<div class="percentWrap">
											<div class="parcntDisplay" style="width: 9%;"></div>
											<span class="percentText">完整度 9%</span>
										</div>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
				
				<div class="mui-card">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-collapse">
							<a class="mui-navigate-right" href="#">纸钞</a>
							<div class="mui-collapse-content" style="padding: 0;">
								<ul class="mui-table-view" style="margin-top: 0; margin-bottom: 0;">
									<li class="mui-table-view-cell collectionItem">
										<div class="mui-card-content">
											<div class="mui-card-content-inner">
												<p style="color: #333;">三版人民币</p>
											</div>
										</div>
										<div class="mui-card-footer">
											<p class="mui-card-link">我的藏品数量 788</p>
											<p class="mui-card-link">藏品总数 1802</p>
										</div>
										<div class="percentWrap">
											<div class="parcntDisplay" style="width: 43%;"></div>
											<span class="percentText">完整度 43%</span>
										</div>
									</li>
									<li class="mui-table-view-cell collectionItem">
										<div class="mui-card-content">
											<div class="mui-card-content-inner">
												<p style="color: #333;">纪念钞</p>
											</div>
										</div>
										<div class="mui-card-footer">
											<p class="mui-card-link">我的藏品数量 48</p>
											<p class="mui-card-link">藏品总数 520</p>
										</div>
										<div class="percentWrap">
											<div class="parcntDisplay" style="width: 9%;"></div>
											<span class="percentText">完整度 9%</span>
										</div>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
				
			</div>
		</div>
	</body>

</html>