<%= form_for(@dic_title) do |f| %>
  <% if @dic_title.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dic_title.errors.count, "error") %> prohibited this dic_title from being saved:</h2>

      <ul>
      <% @dic_title.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
