<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我要鉴定</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/editApp.css" />
		<script src="../js/mui.min.js"></script>
		<script src="../js/jquery-3.3.1.min.js"></script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">我要鉴定</h1>
		</header>
		
		<div class="mui-content">
			<h4 class="titleAppraisal">鉴评业务介绍</h4>
			<div class="mui-card">
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						上邮鉴评中心根据《上邮品相描述及定级标准》以及《上邮评级标准》为客户的邮币卡藏品提供辨伪、鉴评、评级等鉴评服务，同时为了满足客户日常收藏、存储、交易过程中防护保存的不同需求，使用不同材质的封装材料及防伪技术对藏品进行封装服务。
					</div>
				</div>
			</div>
			<h4 class="titleAppraisal">（一）鉴评业务受理范畴</h4>
			<div class="mui-card">
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						<img src="../images/c1.png" width="100%" border="0"/><br />
						注《中华人民共和国人民币管理条例》第四章第二十五条规定：“禁止非法买卖流通人民币。纪念币的买卖，应当遵守中国人民银行的有关规定。”<br />
						注: <br />
						1）“件”的单位定义：经过鉴定封装（或认定为伪品）后的收费票币。<br />
						2）收费方式为逐笔业务收取。<br />
						当年该合作商年送评量少于协议数量，酌情考虑与该合作商是否续约事宜。
					</div>
				</div>
			</div>
			<h4 class="titleAppraisal">（二）收费标准</h4>
			<div class="mui-card">
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						1、散户送评收费标准<br />
						<img src="../images/c3.png" width="100%" border="0"/><br />
						注: 邮票类商品包含封片等其他邮资票品；  钱币类商品包含硬币和纸钞类商品。<br />
						2、合作商送评收费标准<br />
						<img src="../images/c3.png" width="100%" border="0"/>
					</div>
				</div>
			</div>
			<h4 class="titleAppraisal">我们的优势</h4>
			<div class="mui-card">
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						专业权威：百年邮政服务品牌+权威战略合作伙伴<br />
						保真包赔：一流鉴评服务团队+资深的第三方专家<br />
						公正高效：专业鉴评评级标准+覆盖全国服务网点
					</div>
				</div>
			</div>
			<h4 class="titleAppraisal">我们的目标</h4>
			<div class="mui-card">
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						提供一流的鉴评封装服务<br />
						打造一流的鉴评封装产品<br />
						创建一流的鉴评封装品牌
					</div>
				</div>
			</div>
			<h4 class="titleAppraisal">联系方式</h4>
			<div class="mui-card">
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						1、门店受理 地址：上海市虹口区天潼路479号 上邮鉴评综合营业大厅<br />
						2、预约电话 021-66078201 021-66075170<br />
						3、在线客服QQ 800103822<br />
						4、受理时间 周一至周五（9：00-16：00）双休日和国定节假日除外
					</div>
				</div>
			</div>
		</div>
	</body>

</html>