<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>藏品分析列表</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/editApp.css" />
		<script src="../js/mui.min.js"></script>
		<script src="../js/jquery-3.3.1.min.js"></script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">藏品分析列表</h1>
		</header>
		
		<div style="background: #EFEFF4 !important;top: 44px; position: absolute; z-index: 99 !important;">
			<div class="mui-segmented-control mui-segmented-control-inverted" style=" padding: 0 10px;">
				<a class="mui-control-item mui-active tabBG" href="#item1">置顶排序</a>
				<a class="mui-control-item tabBG" href="#item2">发行排序</a>
			</div>
		</div>
		
		<div class="mui-scroll" style="height: 100%;">
			<div class="mui-col-xs-12" style="height: calc(100vh); touch-action: none;">
				<div id="item1" class="mui-control-content mui-active " style="overflow-y: auto; height: 100%;">
					<h5 style="margin-top: 84px; background: #FFFFFF;">纪字邮票</h5>
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">
					        <a class="mui-navigate-right check" href="product.html"><span class="redMark">纪1</span>庆祝中国人民政治协商会议第一届全体会议</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="mui-navigate-right check"><span class="redMark">纪2</span>中国人民政治协商会议纪念</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="mui-navigate-right check"><span class="redMark">纪3</span>世界工联亚洲澳洲工会会议纪念</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="mui-navigate-right check check"><span class="redMark">纪5</span>保卫世界和平（第一组）</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="mui-navigate-right check"><span class="redMark">纪6</span>中华人民共和国开国一周年纪念</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="mui-navigate-right check"><span class="redMark">纪7</span>第一届全国邮政会议纪念</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="mui-navigate-right check"><span class="redMark">纪8</span>中苏友好同盟互助条约签订纪念</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="mui-navigate-right check"><span class="redMark">纪9</span>中国共产党三十周年纪念</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="mui-navigate-right check"><span class="redMark">纪12</span>太平天国金田起义百年纪念</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="mui-navigate-right check"><span class="redMark">纪13</span>和平解放西藏</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="mui-navigate-right check"><span class="redMark">纪15</span>国际劳动节</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="grayLine"><span class="redMark">纪4</span>中华人民共和国开国纪念</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="grayLine"><span class="redMark">纪10</span>保卫世界和平（第二组）</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="grayLine"><span class="redMark">纪11</span>鲁迅逝世十五周年</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="grayLine"><span class="redMark">纪14</span>国际保卫儿童会议</a>
					    </li>
					</ul>
				</div>
				<div id="item2" class="mui-control-content" style="overflow-y: auto; height: 100%;">
					<h5 style="margin-top: 84px; background: #FFFFFF;">纪字邮票</h5>
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">
					        <a class="mui-navigate-right check" href="product.html"><span class="redMark">纪1</span>庆祝中国人民政治协商会议第一届全体会议</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="mui-navigate-right check"><span class="redMark">纪2</span>中国人民政治协商会议纪念</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="mui-navigate-right check"><span class="redMark">纪3</span>世界工联亚洲澳洲工会会议纪念</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="grayLine"><span class="redMark">纪4</span>中华人民共和国开国纪念</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="mui-navigate-right check check"><span class="redMark">纪5</span>保卫世界和平（第一组）</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="mui-navigate-right check"><span class="redMark">纪6</span>中华人民共和国开国一周年纪念</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="mui-navigate-right check"><span class="redMark">纪7</span>第一届全国邮政会议纪念</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="mui-navigate-right check"><span class="redMark">纪8</span>中苏友好同盟互助条约签订纪念</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="mui-navigate-right check"><span class="redMark">纪9</span>中国共产党三十周年纪念</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="grayLine"><span class="redMark">纪10</span>保卫世界和平（第二组）</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="grayLine"><span class="redMark">纪11</span>鲁迅逝世十五周年</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="mui-navigate-right check"><span class="redMark">纪12</span>太平天国金田起义百年纪念</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="mui-navigate-right check"><span class="redMark">纪13</span>和平解放西藏</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="grayLine"><span class="redMark">纪14</span>国际保卫儿童会议</a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="mui-navigate-right check"><span class="redMark">纪15</span>国际劳动节</a>
					    </li>
					</ul>
				</div>
			</div>
		</div>
		
		<script>
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			(function($) {
				$('#scroll').scroll({
					indicators: true //是否显示滚动条
				});
				
			})(mui);
		</script>
	</body>

</html>