<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>资讯公告</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/editApp.css" />
		<script src="../js/mui.min.js"></script>
		<script src="../js/jquery-3.3.1.min.js"></script>
	</head>

	<body>
		
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">资讯公告</h1>
		</header>
		
		<div style="background: #EFEFF4 !important;top: 44px; position: absolute; z-index: 99 !important;">
			<div class="mui-segmented-control mui-segmented-control-inverted" style=" padding: 0 10px;">
				<a class="mui-control-item mui-active tabBG" href="#item1">最新行情</a>
				<a class="mui-control-item tabBG" href="#item2">新品发行</a>
			</div>
		</div>
		<div class="mui-scroll" style="height: 100%;">
			<div style="height: calc(100vh); touch-action: none;">
				<div id="item1" class="mui-control-content mui-active" style="overflow-y: auto; height: 100%;">
					<ul class="mui-table-view" style="margin-top: 85px;">
						<li class="mui-table-view-cell">
							小型张邮票行情价格2019年1月10日
						</li>
						<li class="mui-table-view-cell">
							生肖邮票价格查询表2019年1月10日
						</li>
						<li class="mui-table-view-cell">
							小本票行情价格2019年1月10日
						</li>
						<li class="mui-table-view-cell">
							最新邮票价格查询表2018年12月10日
						</li>
						<li class="mui-table-view-cell">
							最新邮票价格查询表2018年11月10日
						</li>
						<li class="mui-table-view-cell">
							最新邮票价格查询表2018年10月10日
						</li>
						<li class="mui-table-view-cell">
							最新邮票价格查询表2018年9月10日
						</li>
						<li class="mui-table-view-cell">
							最新邮票价格查询表2018年8月10日
						</li>
						<li class="mui-table-view-cell">
							最新邮票价格查询表2018年7月10日
						</li>
						<li class="mui-table-view-cell">
							最新邮票价格查询表2018年6月10日
						</li>
						<li class="mui-table-view-cell">
							最新邮票价格查询表2018年5月10日
						</li>
						<li class="mui-table-view-cell">
							最新邮票价格查询表2018年4月10日
						</li>
						<li class="mui-table-view-cell">
							最新邮票价格查询表2018年3月10日
						</li>
						<li class="mui-table-view-cell">
							最新邮票价格查询表2018年2月10日
						</li>
						<li class="mui-table-view-cell">
							最新邮票价格查询表2018年1月10日
						</li>
						<li class="mui-table-view-cell">
							最新邮票价格查询表2017年12月10日
						</li>
						<li class="mui-table-view-cell">
							最新邮票价格查询表2017年11月10日
						</li>
						<li class="mui-table-view-cell">
							最新邮票价格查询表2017年10月10日
						</li>
					</ul>
				</div>
				<div id="item2" class="mui-control-content" style="overflow-y: auto; height: 100%;">
					<ul class="mui-table-view" style="margin-top: 85px;">
						<li class="mui-table-view-cell">
							新品发行小型张邮票行情价格2019年1月10日
						</li>
						<li class="mui-table-view-cell">
							新品发行生肖邮票价格查询表2019年1月10日
						</li>
						<li class="mui-table-view-cell">
							新品发行小本票行情价格2019年1月10日
						</li>
						<li class="mui-table-view-cell">
							新品发行邮票价格查询表2018年12月10日
						</li>
						<li class="mui-table-view-cell">
							新品发行邮票价格查询表2018年11月10日
						</li>
						<li class="mui-table-view-cell">
							新品发行邮票价格查询表2018年10月10日
						</li>
						<li class="mui-table-view-cell">
							新品发行邮票价格查询表2018年9月10日
						</li>
						<li class="mui-table-view-cell">
							新品发行邮票价格查询表2018年8月10日
						</li>
						<li class="mui-table-view-cell">
							新品发行邮票价格查询表2018年7月10日
						</li>
						<li class="mui-table-view-cell">
							新品发行邮票价格查询表2018年6月10日
						</li>
						<li class="mui-table-view-cell">
							新品发行邮票价格查询表2018年5月10日
						</li>
						<li class="mui-table-view-cell">
							新品发行邮票价格查询表2018年4月10日
						</li>
						<li class="mui-table-view-cell">
							新品发行邮票价格查询表2018年3月10日
						</li>
						<li class="mui-table-view-cell">
							新品发行邮票价格查询表2018年2月10日
						</li>
						<li class="mui-table-view-cell">
							新品发行邮票价格查询表2018年1月10日
						</li>
						<li class="mui-table-view-cell">
							新品发行邮票价格查询表2017年12月10日
						</li>
						<li class="mui-table-view-cell">
							新品发行邮票价格查询表2017年11月10日
						</li>
						<li class="mui-table-view-cell">
							新品发行邮票价格查询表2017年10月10日
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script>
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			(function($) {
				$('#scroll').scroll({
					indicators: true //是否显示滚动条
				});
				
			})(mui);
		</script>
	</body>

</html>